.b-header
  .b-header__title
    = link_to "Urban Style Fitness", root_path, class: "b-header__title__text"
  .b-header__right
    = link_to "新規投稿", new_post_path, class: "b-header__right--btn"


        
